body {
  font-family: 'Open Sans', sans-serif;
}

.styledText {

  font-weight: 900;
  font-size: 2.5rem;
  line-height: 1.5;

}

/* Header Section */

#title {

  background-color: #33313b;
  background-image: -webkit-linear-gradient(65deg, #ff4c68 50%, #33313b 50%);
  z-index: 0;
}

.strudel-image {

  height: 2rem;
  width: 2rem;
}

.container-fluid1 {

  padding: 2% 11% 11.5%;

}

.nav-item {

  padding: 0 18px;

}

.nav-link {

  font-size: 1.2rem;
  font-weight: lighter;

}


#navigationBar {

  padding: 0 0 2rem;

}

#brandName {

  font-family: "Ubuntu";
  font-size: 2.5rem;

}

#mainHeading {

  font-size: 3rem;
  padding-right: 10%;
  padding-top: 10%;
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
  color: #F5F5F5;
}

#mainImage {

  transform: rotate(20deg);
  color: white;
  font-size: 25rem;
  position: absolute;
  right: 13rem;
  z-index: 0;
}


.downloadButton {

  margin: 5% 3% 5% 0;

}

/* Features Section */

#features {

  padding: 7% 5%;
  background-color: white;
  position: relative;

}

.containerBox {

  padding: 4.5%;
  text-align: center;

}

.styledHeading {

  font-weight: bold;
  font-size: 1.5rem;

}

.styledP {

  color: #8f8f8f;

}


.iconImage {

  color: #ef8172;
  font-size: 3rem;
  margin-bottom: 15px;

}

.iconImage:hover {

  color: #ff4c68;

}


/* Testimonials Section */

#testimonials {

  font-family: 'Open Sans', sans-serif;
  text-align: center;
  background-image: -webkit-linear-gradient(65deg, #ff4c68 30%, #33313b 70%);
  color: #F5F5F5;

}

.testimonyName {

  color: black;
  font-weight: bold;

}

.carousel-item {

  padding: 7% 15%;

}

/* Showcase Section */

#showcase {

  padding: 50px;
  text-align: center;

}

.showcaseTitle {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 3.5rem;
}

.appCard {

  padding: 3% 2%;

}


.iconImages {
  width: 6rem;
  border-radius: 10%;
}

/* Call To Action Section */

#cta {

  background-color: #ff4c68;
  padding: 8% 10% 10%;


}

.ctaText {

  font-family: 'Playfair Display', serif;
  font-weight: 900;
  color: #F5F5F5;
  margin-bottom: 2rem;

}

.container-fluid3 {

  text-align: center;

}

/* Footer Section */

#footer {

  padding: 4% 10%;
  padding-bottom: 1%;

}


.strudel-image2 {

  width: 4rem;
  height: 4rem;
  margin-bottom: 2rem;

}

#iconContainer {

  margin: 1rem;

}

.socialMediaIcons {

  padding: 1% 1.2%;
  color: #343A40;

}

.socialMediaIcons:hover {

  color: #22262A;

}


#credits {
  font-size: .25rem;
}

/* Media Queries */

@media (max-width: 1028px) {

  #mainImage {
    font-size: 15rem;
  }
}

@media (max-width: 991px) {

  #mainHeading {
    padding-right: 50%;

  }

  #mainImage {

    transform: rotate(0);
    position: static;

  }

}

@media (max-width: 886px) {
  
  #mainHeading {
    padding-right: 40%;
  }
}

@media (max-width: 738px) {

  #mainHeading {
    padding-right: 15%;
  }
}


@media (max-width: 725px) {

  #mainHeading {
    font-size: 2.5rem;
  }

  .styledText {
    font-size: 1.7rem;
  }

  .low {
    position: static;
  }

  .high {
    position: static;
  }

  .showcaseTitle {
    font-size: 2.5rem;
  }


}
